@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nunito';
    font-weight: 300;
    src: url(/fonts/Nunito/Nunito-Light.woff2) format("woff");
  }
  @font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url(/fonts/Nunito/Nunito-Regular.woff2) format("woff");
  }
  @font-face {
    font-family: 'Nunito';
    font-weight: 500;
    src: url(/fonts/Nunito/Nunito-Medium.woff2) format("woff");
  }
  @font-face {
    font-family: 'Nunito';
    font-weight: 600;
    src: url(/fonts/Nunito/Nunito-SemiBold.woff2) format("woff");
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media (min-width: 500px) {
.sm\:artboard-demo, .sm\:mockup-phone {
  display: block !important;
}
}


.swiper-pagination-bullet {
  background-color: #011839 !important;
  opacity: 1 !important;
  padding: 3px !important;
  margin: 4px !important;
  /* border-color: azure !important; */
  border: 1px solid white !important;
  border-radius: 4px !important;
  width: 3px !important;
  -webkit-transition: background-color, border;
  -moz-transition: background-color, border;
  -o-transition: background-color, border;
  transition: background-color, border;
  transition-duration: 500ms !important;
}
.swiper-pagination-bullet-active {
  background-color: #FEB800 !important;
  border-radius: 4px !important;
  padding: 3px !important;
  margin: 4px !important;
  /* border-color: azure !important; */
  border: 1px solid #FEB800 !important;
  -webkit-transition: background-color, border;
  -moz-transition: background-color, border;
  transition: background-color, border;
  width: 3px !important;
  transition-duration: 500ms !important;
}
#header {
  mask: linear-gradient(#011839 75%, transparent);
}
